@media screen and (max-width: 600px) {

    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .menu-itens {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 260px;
        padding: 20px 0;
        background-color: #fff;
        box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
    }

    #nav-mobile.open .menu-itens{
        left: 0;
    }

    .menu-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 30px 16px;
    }

    .itens {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(34, 34, 34);
        border-radius: 15px;
        color: rgb(255, 255, 255);
        width: 90%;
        height: 100%;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-size: 1.3em;
        width: 100%;
        margin-bottom: 20px;
    }

    .link-button {
        width: 100%;
        font-size: 1.3em;
        height: 80px;
        background: -webkit-linear-gradient(left, #ff4262, #ff5d4f, #FF9F42, #FF8E40);
    }

    .link-button:hover {
        width: 100%;
        font-size: 1.3em;
        height: 80px;
        background: -webkit-linear-gradient(left, #ff4262, #ff5d4f, #FF9F42, #FF8E40);
    }

    .overlay-header {
        position: fixed;
        top: 0;
        left: -100%;
        height: 1000vh;
        width: 200%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
        background: rgba(3, 3, 3, 0.116);
    }

    .menu-icon {
        margin-right: 50px;
        font-size: 2em;
    }
    
    #nav-mobile.open ~ .overlay-header {
        opacity: 1;
        left: 260px;
        pointer-events: auto;
    }

    .Logo-header {
        display: none;
    }

    main {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: cover;
        padding-top: 150px;
    }

    .cx-txt-main {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: left;
        width: 90%;
    }
    
    .bolha {
        background-position: center;
        width: 100%;
        height: 50vh;
    }

    .txt-apresentativo {
        font-size: 2em;
        font-weight: lighter;
    }
    
    #p1 {
        font-size: 3em;
        text-align: center;
        text-align: start;
    }

    .txt-apresentativo-2 {
        font-size: 1em;
        width: 90%;
        font-family: 'Space Grotesk', sans-serif;
    }

    .fita {
        height: 20vh;
    }

    .header-sobre-mim {
        flex-direction: column;
        text-align: center;
    }

    .header-sobre-mim > h1 {
        margin: 0;
    }

    .background-sobre-mim {
        width: 80%;
    }

    .titulo-projetos > h1 {
        font-size:  1em;

    }
}