@media screen and (max-width: 890px) {
    .bolha {
        background-position: center;
        width: 100%;
        height: 70vh;
        padding-top: 40px;
    }

    .header-sobre-mim {
        flex-direction: column;
        text-align: center;
    }

    .header-sobre-mim > h1 {
        margin: 0;
    }

    .background-sobre-mim {
        width: 80%;
    }
}